<ion-view>

    <div class="modal">
        <!-- Modal header bar -->
        <ion-header-bar class="bar-secondary">
            <button class="button button-clear button-positive" ng-click="modal.hide()">
                <i class="icon ion-android-arrow-back">back</i>
            </button>
            <h1 class="title">Round:{{currentRound.id}} Game:{{currentGame.id}}</h1>
            <button class="button button-clear button-positive" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>

        <!-- Modal content area -->
        <ion-content>
            <ion-scroll
                    style="text-align: center;">
                <div class="item item-header item-dark row row-item">
                    <div class="col col-33">Select Winner</div>
                    <div class="col">Seen</div>
                    <div class="col ">Maal</div>
                    <div class="col ">Earnings($)</div>
                </div>
            </ion-scroll>
            <ion-scroll
                    style="text-align: center;">
                <div class="item row row-item row-center"
                     ng-repeat="player in currentGame.players">
                    <div class="col col-33">
                        <ion-radio
                                class="icon-left positive"
                                ng-model="currentGame.winner"
                                name="game"
                                icon="ion-ribbon-a"
                                ng-value="player"
                                >{{player.name}}
                        </ion-radio>
                    </div>


                    <div class="col contains-center">
                        <label class="checkbox">
                            <input
                                    type="checkbox"
                                    name="game"
                                    ng-model="player.show"
                                    ng-value="true"/>
                        </label>
                    </div>

                            <input
                                    class="col contains-center"
                                    min="0"
                                    type="number"
                                    ng-model="player.points"
                                    ng-focus="pointsOnFocus(player)"
                                    ng-blur="pointsOnBlur(player)"
                                    />

                        <label
                                class="col contains-center winner "
                                ng-class="{looser:player.earnings<0}">
                            {{player.earnings|currency}}
                        </label>
                </div>
                <div class="item item-footer row row-item item-stable padding">
                    <div class="col col-33"></div>
                    <div class="col  contains-center">Total Points</div>
                    <div class="col contains-center">{{currentGame.totalPoints}}</div>
                    <div class="col "></div>
                </div>
            </ion-scroll>

            <div class="padding">
                <button
                        ng-disabled="!currentGame.winner"
                        ng-click="updateGame(currentGame,currentRound)"
                        class="button button-block button-positive">calculate
                </button>
            </div>
        </ion-content>

    </div>
</ion-view>