<ion-view title="Rules">
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="toggleSideMenu()">
            <i class="icon ion-navicon"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                <div class="row">
                    <div class="col  sub-label">Central Collection:</div>
                </div>
                <div class="row">
                    <ion-radio class="col" ng-model="rules.central" ng-value="true" name="central" type="radio">Yes
                    </ion-radio>
                    <ion-radio class="col" ng-model="rules.central" ng-value="false" name="central" type="radio">No
                    </ion-radio>
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item item-divider">
                <div class="row">Each point worth(in cents):</div>
                <div class="row"><input class="col" ng-model="rules.point" type="number"
                                        placeholder="Enter Value of each point in cents"/></div>
            </div>
        </div>
        <div class="list">
            <div class="item item-divider">
                <div class="row">penalty point for lost with no show:</div>
                <div class="row"><input
                        class="col"
                        ng-model="rules.lostWithoutShow"
                        type="number"
                        placeholder="Enter penalty point"/></div>

            </div>
        </div>
        <div class="list">
            <div class="item item-divider">
                <div class="row"> penalty point for lost with show:</div>
                <div class="row"><input
                        class="col"
                        ng-model="rules.lostWithShow"
                        type="number"
                        placeholder="Enter penalty point"/></div>

            </div>
        </div>
        <div class="list">
            <div class="item item-divider">
                <div class="row">Murder:</div>
                <div class="row">
                    <ion-radio class="col" ng-model="rules.murder" ng-value="true" name="type">Yes</ion-radio>
                    <ion-radio class="col" ng-model="rules.murder" ng-value="false" name="type">No</ion-radio>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>